// 0 breakpoints ==================================== 
// small tablets and large smartphones (landscape view)
$breakpoint-phone: 576px;

// small tablets (portrait view)
$breakpoint-tablet: 768px;

// tablets and small desktops
$breakpoint-desktop: 992px;

//large tabletss and desktops
$breakpoint-xl: 1200px;