/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use "variables";
@use "mixins";
// @use 'mixins';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #343434;
	margin: 0;
	font-family: 'Zen Dots', cursive;
	overflow-x: hidden;
	
}

/* 2. Content ================================= */

.top-header{
	background: #DBDADA;
	height: 3em;
	// width: auto;
	position: relative;

	.logo-main{
		width:100px;
		height: auto;
		margin-top: 10px;
		position: absolute;
		top:10%;
		left:3%;
	}
	.header-icons{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		img{
			width: 25px;
			margin:10px;
		}
	}
	.circle{
		background-color: #4CBF6A;
		width: 20px;
		// height: 25px;
		text-align: center;
		border-radius: 50%;
		color: white;
		padding: 3px;
		position: absolute;
		top: 50%;
		right: 8%;
		font-size: 10px;
		@include mixins.bp-medium{
			right: 2%;
		}
	}
}
.second-header{
	background: black;
	height: 3.8em;
	position: relative;
	// overflow: scroll;
	.logo-geforce{
		width:200px;
		height: auto;
		margin-top: 10px;
		position: absolute;
		top: -28%;
		left: 0%;
	}
	.second-header-menu{
		position: absolute;
		top: 10%;
		right: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 50px;
		height: 50px;
		// background-color: #76B900;
		border-radius: 50%;
		box-shadow: 0 0 20px rgba(black,0.2);
		transition: transform 250ms ease;
		cursor: pointer;
		z-index: 200;

		@include mixins.bp-large{
			label {
				display: none;
			}
		}
	
		span{
			position: relative;
			display: block;
			width: 50%;
			height: 2px;
			background-color: rgb(255, 255, 255);
			transform-origin: center center;
			transition: transform 250ms ease;
			z-index: 200;
			&:nth-of-type(1) {
				transform: translateY(-5px);
				
			}	
		}	
	}
	#second-header-menu{
		display: none;
		
		&:checked ~ .menu {
			background-color: transparent;
			transform: rotate(360deg);
			transition: transform 250ms ease;
	
			span {
				background-color: rgb(0, 0, 0);
				transition: transform 250ms ease;
	
				&:nth-of-type(1) {
					transform: translateY(20px) rotate(45deg);
				}
				&:nth-of-type(2) {
					transform: translateY(20px) rotate(-45deg);
				}
			}
			@include mixins.bp-large{
				display: none;
				
			
			}	
		}
		&:checked ~ .second-header-nav {
			left:-450%;
			transition: left 500ms ease;
			// @include mixins.bp-large{
			// 	display: none;
			// }
			
		}
		&:checked ~ .second-header-menu {
			left: 5%;
			
			transition: left 500ms ease;
			
			span{
				&:nth-child(1){
					transform: translateY(15px) rotate(-405deg) ;
					position: absolute;
					top:20%;
				
				}
				&:nth-child(2){
					transform: rotate(405deg);
				}
				
			}
		}
	
		&:not(:checked) ~ .second-header-nav {
			left: 350%;
			transition: left 500ms ease;
			
			@include mixins.bp-large{
				left: -800%;
			}
		}
	}
	
	.second-header-nav {
		position: fixed;
		position: absolute;
		top: 109%;
		left: -100%;
		width: 300px;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-color: rgb(2, 2, 2);
		z-index: 0;
		@include mixins.bp-large{
			display: block;
			top:0;
			right: -205%;
			width: 0;
			height: 0;
			margin: 0;
		
		}
		
		ul {
			position: relative;
			list-style-type: none;
			margin: 100px 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			@include mixins.bp-large{
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin: 0;
				position: unset;
			}
	
			li{
				position: relative;
				display: block;
				border-bottom: 5px solid rgba(rgb(41, 132, 155),1);
				animation-name: borderGlow2;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				@include mixins.bp-large{
					border-bottom: none ;
					animation: none;
					margin-right: 2em;
					margin-top: .5em;
				}
	
				a{
					position: relative;
					display: block;
					margin: 0;
					padding: 15px 20px;
					color: white;
					font-size: 14px;
					font-weight: bold;
					text-decoration: none;
					// text-transform: uppercase;
					@include mixins.bp-large{
						margin-right: 50px;
						padding: 0;
					}
	
					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						transition: width 250ms ease;
						z-index: -1;
						@include mixins.bp-medium{
							display: none;
						}
					}
					&:hover {
						// color: #444;
						
						&:before {
							width: 100%;
							height: 100%;
							background: linear-gradient(90deg, rgba(19, 19, 19, 0.359) 5%, rgba(45, 130, 153, 0.86) 93%);
							transition: width 350ms ease;
							z-index: -1;
						}
						@include mixins.bp-large{
							color:rgb(60, 192, 111);
							background: transparent;
							transition: ease-in-out .2s;
						}
					}
				}
			}
	
		}
	}

}

.content-wrapper {
	display: flex;
	flex-direction: row;
	@include mixins.bp-large{
	
	
	}
	
}


.side-bar{

	// width on mobile collapses
	@include mixins.bp-large{
		width: 300px;
		background: black;
	}

	.side-menu{ // the button
		position: absolute;
		top: 13%;
		left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 50px;
		height: 50px;
		background-color: #76B900;
		border-radius: 50%;
		box-shadow: 0 0 20px rgba(black,0.2);
		transition: transform 250ms ease;
		cursor: pointer;
		z-index: 200;

		@include mixins.bp-large{
			display: none;
		}
	
		span{
			position: relative;
			display: block;
			width: 50%;
			height: 2px;
			background-color: rgb(0, 0, 0);
			transform-origin: center center;
			transition: transform 250ms ease;
			z-index: 200;
			&:nth-of-type(1) {
				transform: translateY(2px) rotate(90deg);
				
			}	
		}
	}
	#side-menu{
		display: none;
		&:checked ~ .menu {
			background-color: transparent;
			transform: rotate(360deg);
			transition: transform 250ms ease;
	
			span {
				background-color: rgb(0, 0, 0);
				transition: transform 250ms ease;
	
				&:nth-of-type(1) {
					transform: translateY(20px) rotate(45deg);
				}
			}	
		}
		&:checked ~ .side-nav {
			left: 0%;
			transition: left 500ms ease;
			
			span{
				&:nth-child(1){
					transform: translateY(15px) rotate(-405deg) ;
				
				}
				&:nth-child(2){
					transform: rotate(405deg);
				}
			}
		}
		&:checked ~ .side-menu {
			left: 5%;
			
			transition: left 500ms ease;
			
			span{
				&:nth-child(1){
					transform: translateY(15px) rotate(-405deg) ;
					position: absolute;
					top:20%;
				
				}
				&:nth-child(2){
					transform: rotate(405deg);
				}
			}
		}
	
		&:not(:checked) ~ .side-nav {
			left: -100%;
			transition: left 500ms ease;
			span{
				&:nth-of-type(1) {
					transform: translateY(20px) rotate(135deg);
				}
			}
			
		}
		// &:unchecked ~ .side-nav {
		// 	left: 0px;
		// 	transition: left 500ms ease;
		// }
		
	
	}
	.side-nav {
		// position: fixed;
		position: absolute;
		top: 109px;
		left: -100%;
		width: 300px;
		height: 100vh;
		margin: 0;
		padding: 0;
		background-color: rgb(2, 2, 2);
		z-index: 1;

		@include mixins.bp-large{
			position: static;
			top: 0;
		}
		
		ul {
			position: relative;
			list-style-type: none;
			margin: 100px 0;
			padding: 0;
			
			@include mixins.bp-large{
				margin: 0px 0;
				
			}
	
			.animated-border{
				position: relative;
				display: block;
				border-bottom: 5px solid rgba(rgb(41, 155, 56),1);
				animation-name: borderGlow;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				a{
					position: relative;
					display: block;
					margin: 0;
					padding: 15px 20px;
					color: white;
					font-size: 14px;
					font-weight: bold;
					text-decoration: none;
					// text-transform: uppercase;
	
					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						transition: width 250ms ease;
						z-index: -1;
					}
					&:hover {
						// color: #444;
						
						&:before {
							width: 100%;
							height: 100%;
							// background-color: rgba(white,2);
							background: linear-gradient(90deg, rgba(20,20,20,0.35898109243697474) 5%, rgba(72,198,37,0.8603816526610644) 93%);
							transition: width 350ms ease;
							z-index: -1;
						}
					}
				}
			}
			.selections-ul{
				display: none;
				
				
				@include mixins.bp-large{
					display: block;

				}
				li{
					margin:5px;
					border-bottom: none;
					
					a{
						font-size: 10px;
						color: white;
						text-decoration: none;
						animation-name: glowingAchorLinks;
						animation-duration: 5s;
						animation-iteration-count: infinite;
						
					}
				}
				.selections{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					&:nth-child(1){
						margin-top: 10px;
					}
					
					
					
					
					
				
				}
			}
	
		}
	}	
}
main{
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;

	@include mixins.bp-large{
		width: calc(100% - 300px);
	}
		

	.computer{
		height:50%;
		width: auto;
		position: relative;
		// z-index: 200;
		@include mixins.bp-large{
			display: flex;
			flex-direction: row;

			&:nth-child(2){
				flex-direction: row-reverse;
			}
		}
		img{
			text-align: center;
			width:500px;
			margin-top: 3em;

			
			// z-index: -20;
		}
		#computer-container{

			// top:0;
			// height: 50vh;
			
			background-repeat: no-repeat;
			background-size: cover;
    		background-position: top;
			padding: 10px;
			
			display: flex;
			justify-content: center;
			align-items: center;
			@include mixins.bp-large{
				width: 50%;
			}
			
			

		}
		.msi{
			background: url("/dist/img/retro1.png");
			img{
				animation: move1 40s ease infinite;
			}
			
		}
		.alien{
			background: url("/dist/img/green.jpeg");
			background-position: top;

			img{
				width:350px;
				margin: 0 auto;
				margin: 50px 50px;
				animation: move2 40s ease infinite;
		
			}
		}
		.razor{
			background: url("/dist/img/blue.jpeg");
			img{
				animation: move3 40s ease infinite;
			}
			
		}

		
		
		.info{
			
			min-height: 50vh;
			background: #640f09;
			padding:5em;
			@include mixins.bp-large{
				width: 50%;
			}
			

			.squares{

				 li{
					position: absolute;
					display: block;
					list-style: none;
					width: 10px;
					height: 20px;
					background: rgba(20, 18, 18, 0.212);
					animation: animate 25s linear infinite;
					bottom: -70%;	
				}
				li:nth-child(1){
					left: 25%;
					width: 80px;
					height: 80px;
					animation-delay: 0s;
				}
				
				
				li:nth-child(2){
					left: 10%;
					width: 20px;
					height: 20px;
					animation-delay: 2s;
					animation-duration: 12s;
				}
				
				li:nth-child(3){
					left: 70%;
					width: 20px;
					height: 20px;
					animation-delay: 4s;
				}
				
				li:nth-child(4){
					left: 40%;
					width: 60px;
					height: 60px;
					animation-delay: 0s;
					animation-duration: 18s;
				}
				
				li:nth-child(5){
					left: 65%;
					width: 20px;
					height: 20px;
					animation-delay: 0s;
				}
				
				li:nth-child(6){
					left: 75%;
					width: 110px;
					height: 110px;
					animation-delay: 3s;
				}
				
				 li:nth-child(7){
					left: 35%;
					width: 150px;
					height: 150px;
					animation-delay: 7s;
				}
				
				 li:nth-child(8){
					left: 50%;
					width: 25px;
					height: 25px;
					animation-delay: 15s;
					animation-duration: 45s;
				}
				
				 li:nth-child(9){
					left: 20%;
					width: 15px;
					height: 15px;
					animation-delay: 2s;
					animation-duration: 35s;
				}
				
				 li:nth-child(10){
					left: 85%;
					width: 150px;
					height: 150px;
					animation-delay: 0s;
					animation-duration: 11s;
				}
				
			}
			.specs{
				// position: relative;
				
				color: white;
				// z-index: 200;
				.spec-container{
					// position: absolute;
					background-color: black;
					width:350px;
					// height: 250px;
					border-radius: 10px;
					// top: 60%;
					// left:15%;
					margin: 0 auto;
					padding-top: 20px;
					padding-bottom: 20px;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					h1{
						color: rgb(252, 252, 252); 
						font-size: 13px;
						text-align: center;
						text-transform: uppercase;
						// position: absolute;
						top: 0%;
						margin-top: 10px;
						&:nth-child(4){
							padding-bottom: 5px;
						}
					}

					p{
						color: rgb(167, 167, 167);
						font-size: 10px;
						margin-left:10px ;
						margin-top: 10px;
						.fas{
							font-size: 12px;
							margin-right: 5px;
							color: rgb(113, 175, 21);
						}
					}
				}
				.button-container{
					// position: absolute;
					// bottom: 3%;
					// left: 30%;
					text-align: center;
					margin-top: 10px;
					.button{
						border-radius: 10px;
						height: 2rem;
						border: none;
						margin:5px;
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						&:hover{
							// box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
							animation-name: glowingButton;
							animation-duration: 5s;
							animation-iteration-count: infinite;
						}
					}
					.learn{
						background: rgb(2, 2, 2);
						color: rgb(255, 255, 255);
					}
					.cart{
						background: rgb(149, 219, 43);
						color: rgb(0, 0, 0);
					}
				}		
			}
		}
		.comp1-computer-info{
			background: #558639;
			li{
				background: rgba(109, 187, 64, 0.801);
			}
		}
		.comp2-computer-info{
			background: #446ab1;
		}

	}
}
footer{
	background: black;
	overflow: hidden;
	.footer-links{
		color: white;
		display: flex;
		text-align: center;
		font-size: 10px;
		@include mixins.bp-large{
			// text-align: center;
			justify-content: center;
		}
		// margin:5px;
		// justify-content: space-between;
		p{
			margin: 14px;
		}	
		
	}
	.social{
		color: white;
		font-size: 18px;
		text-align: center;
		padding-bottom: 10px;
		animation-name: glowingSocial;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		.fab{
			&:hover{
				transform: rotate(-180deg);
			}
		}
		
		

		>span{
			margin-left:5px	
		}
		
	}
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
@keyframes borderGlow{
		0% {border-bottom: solid 4px rgb(14, 177, 22);}
		50% {border-bottom: solid 4px rgb(19, 83, 33);}
		100% {border-bottom: solid 4px rgb(14, 177, 22);}
}
@keyframes borderGlow2{
	0% {border-bottom: solid 4px rgb(14, 158, 177);}
	50% {border-bottom: solid 4px rgb(19, 47, 83);}
	100% {border-bottom: solid 4px rgb(14, 158, 177);}
}
@keyframes glowingAchorLinks{
		0% {color: rgb(136, 230, 140);}
		50% {color: rgb(56, 99, 65);}
		100% {color: rgb(136, 230, 140);}
}
@keyframes glowingSocial{
		0% {color: rgb(230, 136, 136);}
		10% {color: rgb(219, 152, 76);}
		20%{color: rgb(207, 205, 70);}
		30%{color: rgb(181, 230, 136);}
		40%{color: rgb(136, 230, 178);}
		50% {color: rgb(77, 184, 157);}
		60% {color: rgb(89, 162, 204);}
		70% {color: rgb(61, 75, 199);}
		80% {color: rgb(115, 82, 192);}
		90% {color: rgb(148, 101, 180);}
		100% {color: rgb(230, 136, 217);}
}
@keyframes glowingButton{
	0% {box-shadow: 0 4px 8px 0 rgba(241, 67, 67, 0.6), 0 6px 20px 0 rgba(212, 29, 29, 0.6);}
	10% {box-shadow: 0 4px 8px 0 rgba(212, 120, 33, 0.6), 0 6px 20px 0 rgba(151, 63, 11, 0.6);}
	20%{box-shadow: 0 4px 8px 0 rgba(175, 154, 34, 0.6), 0 6px 20px 0 rgba(189, 171, 12, 0.6);}
	30%{box-shadow: 0 4px 8px 0 rgba(119, 168, 40, 0.6), 0 6px 20px 0 rgba(47, 102, 10, 0.6);}
	40%{box-shadow: 0 4px 8px 0 rgba(59, 119, 74, 0.6), 0 6px 20px 0 rgba(11, 121, 84, 0.6);}
	50% {box-shadow: 0 4px 8px 0 rgba(67, 148, 134, 0.6), 0 6px 20px 0 rgba(8, 153, 134, 0.6);}
	60% {box-shadow: 0 4px 8px 0 rgba(74, 139, 192, 0.6), 0 6px 20px 0 rgba(7, 120, 185, 0.6);}
	70% {box-shadow: 0 4px 8px 0 rgba(61, 70, 153, 0.6), 0 6px 20px 0 rgba(10, 16, 100, 0.6);}
	80% {box-shadow: 0 4px 8px 0 rgba(117, 84, 168, 0.6), 0 6px 20px 0 rgba(69, 10, 124, 0.6);}
	90% {box-shadow: 0 4px 8px 0 rgba(130, 71, 138, 0.6), 0 6px 20px 0 rgba(189, 29, 189, 0.6);}
	100% {box-shadow: 0 4px 8px 0 rgba(150, 82, 116, 0.6), 0 6px 20px 0 rgba(201, 6, 97, 0.6);}
}

@keyframes move1{
	0%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	12%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	18%{
		transform-origin: left;
		transform: scale(1.6);
	}
	25%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	30%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	38%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	50%{
		transform-origin: left;
		transform: scale(1.2);
	}
	66%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	73%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	80%{
		transform-origin: left;
		transform: scale(1.6);
	}
	88%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	95%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	100%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	

}
@keyframes move2{
	0%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	12%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	18%{
		transform-origin: left;
		transform: scale(1.6);
	}
	25%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	30%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	38%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	50%{
		transform-origin: left;
		transform: scale(1.2);
	}
	66%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	73%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	80%{
		transform-origin: left;
		transform: scale(1.6);
	}
	88%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	95%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	100%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	

}
@keyframes move3{
	0%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	12%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	18%{
		transform-origin: left;
		transform: scale(1.6);
	}
	25%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	30%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	38%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	50%{
		transform-origin: left;
		transform: scale(1.2);
	}
	66%{
		transform-origin: bottom left;
		transform: scale(1.5);
	}	
	73%{
		transform-origin: top right;
		transform: scale(1.2);
	}
	80%{
		transform-origin: left;
		transform: scale(1.6);
	}
	88%{
		transform-origin: top left;
		transform: scale(1.3);
	}
	95%{
		transform-origin: bottom;
		transform: scale(1.4);
	}
	100%{
		transform-origin: top right;
		transform: scale(1.7);
	}
	

}